.wrapper {
    display: grid;

    /* fr= fraction */
    grid-template-columns: repeat(12, 1fr);

    /* first number is height, second how big it can get */


    grid-column-gap: 5em;

    grid-template-areas:
        "h h h h h h h h h h h h"
        "hr hr hr hr hr hr hr hr hr hr hr hr"
        ". . m m m m m m m m . ."
        "f f f f f f f f f f f f";

}

.header {
    grid-area: h;
}

.hero {
    grid-area: hr;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    height: 500px;
    background-position: bottom;
    margin: 20px 0;

}

.main {
    grid-area: m;

}

.footer {
    grid-area: f;
    min-height: 60px;
    margin-top: 50px;
    text-align: center;
}


img {
    max-width: 100%;
}

.logo1 {

    height: 70px;
    min-width: 70px;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.item {
    padding: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: sans-serif;
}



p {
    font-size: 20px;
    margin-left: 40px;
    margin-right: 50px;
    padding: 8px;


}

h2 {
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    background color: darkorange;
    margin-left: 40px;
    margin-right: 50px;

}

h3 {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background color: darkorange;
    margin-left: 40px;
    margin-right: 50px;



}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 15px;
    min-width: 700PX
}

a {
    text-decoration: none;
    color: red;


}


.map {
    text-align: center;
}

.profile {
    margin: 8px;
    width: 20%;
    padding: 8px;
    float: left
}

.text {
    text-align: justify
}

.profile1 {
    margin: 8px;
    width: 20%;
    padding: 8px;
    float: left;
}

.text1 {
    text-align: justify
}

.profile2 {

    margin: 8px;
    width: 20%;
    padding: 8px;
    float: left;

}

text2 {

    text-align: justify
}

.profile3 {
    margin: 8px;
    width: 20%;
    padding: 8px;
    float: left;

}

.text3 {
    text-align: justify
}

.profile4 {
    margin: 8px;
    width: 20%;
    padding: 8px;
    float: left;
}

.text4 {
    text-align: justify
}

.profile5 {
    margin: 8px;
    width: 20%;
    padding: 8px;
    float: left;
}

.text5 {
    text-align: justify
}

.profile6 {
    margin: 8px;
    width: 20%;
    padding: 8px;
    float: left;
}

.text6 {
    text-align: justify
}

.profile7 {
    margin: 8px;
    width: 20%;
    padding: 8px;
    float: left;
}

.text7 {
    text-align: justify
}

.supporters {
    text-align: center;
    list-style-position: inside;
    list-style: none;
    margin-top: 10px;
    font-weight: bold
}

.city {
    float: left;
    width: 30%;
    height: auto;
    padding: 8px
}

.hit {
    margin: 8px;
    width: 35%;
    padding: 8px;
    float: left;

}

.print {

    text-align: justify
}

.rect {
    margin: 8px;
    width: 35%;
    padding: 8px;
    float: left;
    clear: both;
    vertical-align: middle
}

.recti {
    text-align: justify
}

.port {
    margin: 8px;
    width: 35%;
    padding: 8px;
    float: left;
    clear: both
}

.port1 {
    text-align: justify
}

h4. {

    text-align: left
}

.festival {
    text-align: center
}

.container1 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    text-align: justify
}

/*target screen with max width */
